<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=0.7">
    <title> {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"> 
	</head>
	<body>
		<h1> Dr. Marius Gramb </h1>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/research">Research</a></li>
			<li><a href="/teaching">Teaching</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:marius.gramb@googlemail.com">Email</a></li>
			</ul>
		</footer>
	</body>
</html>
